* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 800px;
    animation: animate 1.5s linear infinite;
}

#wrapper {
    width: 350px;
    height: 500px;
    position: relative;
    transform: translateZ(-175px);
    transform-style: preserve-3d;
    transition: 400ms;
}

#wrapper>*{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

h2{
    text-align: center;
    color:#69bff8;
    margin: 15px;
}
input {
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 1px solid #69bff8;
    margin-bottom: 20px;
    border-radius: 10px;
}

input:focus {
    outline: 2px solid #69bff8;
}

button {
    background-color: #69bff8;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

span{
    display: block;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #69bff8;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.login{
    transform:rotateY(90deg) translateZ(175px) ;
}
.signup{
    transform:translateZ(175px);
}

@keyframes animate {
    100%{
        backdrop-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}